@mixin filter-checkbox {
  .checkbox-group {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5em;
  }

  .form-check {
    display: flex;
    margin-bottom: 1rem;
    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;

      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 0.15em;
      transform: translateY(-0.075em);

      display: grid;
      place-content: center;
      &:hover {
        cursor: pointer;
      }
    }

    input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $black;
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }

    label {
      margin-left: 1rem;
    }
  }

  hr {
    width: 70%;
    margin-left: 0;
  }
}
